<%
const cfg = {...require("./data.json"), ...arguments?.[0]}
const {
  extraClasses,
  extraAttrs
} = cfg
%>
<%
const classes = `footer ${extraClasses.join(" ")}`.trim()
const attrs = extraAttrs.join(" ")
%>

<footer
  class="<%= classes %>"
  <%- extraAttrs %>
>
  <div class="container">
    <div class="footer__menu">
      <div class="footer__logo">
        <%- require("../logo/template.ejs")({
          img: {
            src: "../../images/footer-logo.png",
            width: "253px",
          },
          title: "Компания",
          href: "#"
        }) %>
      </div>
      <div class="footer__navigation">
        <nav class="footer-navigation">
          <ul class="footer-navigation__list">
            <li class="footer-navigation__group products">
              <a href="" class="footer-navigation__link footer-text">Продукция</a>
              <ul class="footer-navigation__subgroup">
                <li class="footer-navigation__item">
                  <a href="" class="footer-navigation__link footer-text footer-text--transparent">Лодки</a>
                </li>
                <li class="footer-navigation__item">
                  <a href="" class="footer-navigation__link footer-text footer-text--transparent">Катеры</a>
                </li>
                <li class="footer-navigation__item">
                  <a href="" class="footer-navigation__link footer-text footer-text--transparent">Плоты</a>
                </li>
                <li class="footer-navigation__item">
                  <a href="" class="footer-navigation__link footer-text footer-text--transparent">Парусники</a>
                </li>
              </ul>
            </li>
            <li class="footer-navigation__group main-information">
              <ul>
                <li class="footer-navigation__item">
                  <a href="" class="footer-navigation__link footer-text">О компании</a>
                </li>
                <li class="footer-navigation__item">
                  <a href="" class="footer-navigation__link footer-text">Карьера</a>
                </li>
                <li class="footer-navigation__item">
                  <a href="" class="footer-navigation__link footer-text">Исследования </a>
                </li>
                <li class="footer-navigation__item">
                  <a href="" class="footer-navigation__link footer-text">События</a>
                </li>
                <li class="footer-navigation__item">
                  <a href="" class="footer-navigation__link footer-text">Политика конфиденциальности</a>
                </li>
              </ul>
            </li>
            <li class="footer-navigation__group contacts">
              <span class="footer-text">Контакты</span>
              <ul class="footer-navigation__subgroup ">
                <li class="footer-navigation__item phones">
                  <span class="footer-text footer-text--transparent">Телефоны:</span>
                  <ul class="phones__list">
                    <li class="phones__item">
                      <a class="footer-navigation__link footer-text" href="tel:+70000000000">+7 (000)
                        000-00-00 <span class="footer-text footer-text--transparent">(для звонков по России)</span></a>
                    </li>
                    <li class="phones__item">
                      <a class="footer-navigation__link footer-text" href="tel:+70000000000">+7 (000)
                        000-00-00</a>
                    </li>
                  </ul>
                </li>
                <li class="footer-navigation__item emails">
                  <span class="footer-text footer-text--transparent"> E-mail:</span>
                  <ul class="phones__list">
                    <li class="phones__item">
                      <a class="footer-navigation__link footer-text" href="mailto:company@mail.ru">company@mail.ru</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__social">
        <div class="social">
          <span class="footer-text social-text">Поделиться страницей с соц. сетях:</span>
          <ul class="social__list">
            <li class="social__item"><a href="" class="social__link" title="Youtube">
                <svg class="i-icon i-icon-youtube">
                  <use href="#icon-youtube"></use>
                </svg>
              </a></li>
            <li class="social__item"><a href="" class="social__link" title="Facebook">
                <svg class="i-icon i-icon-facebook">
                  <use href="#icon-facebook"></use>
                </svg>
              </a></li>
            <li class="social__item"><a href="" class="social__link" title="LinkedIn">
                <svg class="i-icon i-icon-linkedin">
                  <use href="#icon-linkedin"></use>
                </svg>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__information">
      <div class="footer__registered">
        © 2006-2022 COMPANY
      </div>
      <div class="footer__copyright">
        Все права защищены. Копирование информации сайта допустимо только с письменного разрешения администрации.
        Правила обработки персональных данных и хранении данных cookie.
      </div>
    </div>
  </div>
</footer>
