@import "./animations.pcss";
@import "./media.pcss";

@define-mixin fluid-text $max: 100, $min: 14 {
  font-size: calc($(min)px + ($max - $min) * ((100vw - 360px) / (1920 - 360)));

  @media (--desktop-above) {
    font-size: $(max)px;
  }
}

@define-mixin hide {
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
}

@define-mixin show {
  opacity: 1;
  visibility: visible;
}
