.geography {
    display: flex;
    flex-wrap: wrap;

    &__information {
        flex: 0 0 535px;
        padding-left: var(--grid-padding);
        padding-right: 40px;
        padding-block: 160px 240px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__subtitle {
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__map {
        flex: 1 1 auto;
        min-width: 375px;
    }
}