<%
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs
} = cfg
%>

<%
const classes = `map ${extraClasses.join(" ")}`.trim()
const attrs = extraAttrs.join(" ")
%>

<div
	class="<%= classes %>"
	<%- attrs %>
  data-js-map='<%- JSON.stringify(cfg)%>'
>

</div>
